/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.title {
  font-size: 14pt;
  font-weight: bold;
}

.photo {
  width: 350px;
}

.photo img {
    max-width: 100%;
  border-radius: 6px;
}

.content {
  font-size: 10pt;
  width: 350px;
}

table {
  border-spacing: 0px
}

.post-row:hover {
    background-color: #eee;
}

.post-row img {
  max-width: 100px;
}
 
.post-row td {
  padding: 5px 10px;
}